body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

header {
  background-color: #396e94;
  color: #ffffff;
  text-align: center;
  padding: 20px;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
}

header div {
  margin-bottom: 10px;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

section {
  margin-bottom: 40px;
}

h2 {
  color: #396e94;
  border-bottom: 2px solid #396e94;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

h3 {
  color: #396e94;
  margin-top: 20px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

nav a {
  text-decoration: none;
  color: #396e94;
  margin-right: 10px;
}

nav a:hover {
  text-decoration: underline;
}

.image-gallery {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.image-gallery img {
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #396e94;
  color: #ffffff;
  position: fixed;
  bottom: 0;
  width: 100%;
}
