/* Reset some basic styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 2rem;
}

header {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
}

header nav a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
}

main {
    max-width: 840px;
    margin: 2rem auto;
    background-color: #fff;
    padding: 1rem;
    border: 1px solid #ccc;
}

main img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
    display: block;
    margin: 1rem auto;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: #fff;
}
